<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appinfo.mapper.app_versionMapper" >
  <resultMap id="BaseResultMap" type="com.appinfo.entity.app_version" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="appId" property="appid" jdbcType="BIGINT" />
    <result column="versionNo" property="versionno" jdbcType="VARCHAR" />
    <result column="versionInfo" property="versioninfo" jdbcType="VARCHAR" />
    <result column="publishStatus" property="publishstatus" jdbcType="BIGINT" />
    <result column="downloadLink" property="downloadlink" jdbcType="VARCHAR" />
    <result column="versionSize" property="versionsize" jdbcType="DECIMAL" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="modifyBy" property="modifyby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="apkLocPath" property="apklocpath" jdbcType="VARCHAR" />
    <result column="apkFileName" property="apkfilename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, appId, versionNo, versionInfo, publishStatus, downloadLink, versionSize, createdBy, 
    creationDate, modifyBy, modifyDate, apkLocPath, apkFileName
  </sql>
<select id="getVersion" parameterType="com.appinfo.entity.app_version">
  select * from app_version where id=#{id}
</select>
</mapper>